*{
    margin:0px;
    padding: 0px;
}


nav{
    height: 70px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo{
    height:40px;
    width: 130px;
    background-image: url(./assets/logo.png);
    background-size: cover;

}
#navList{
    display: flex;
    list-style: none;
    
}
#navList li{
    margin-right: 20px;
}
#navList li a{
    text-decoration: none;
    color: #575757;
}

.btn{
    height: 40px;
    width: 130px;
    border-radius: 8px;
    border: none;
    background-color: royalblue;
    color: white;
    font-weight: bolder;
    transition: 0.3s;
    cursor: pointer;
}

/* ------------------- */

#Hero img {
   width: 100%;
    height: 85vh;
    object-fit: cover;
    filter: brightness(40%);
}

.hero-content{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}

.hero-content h1{
    font-size: 70px;
}
.hero-content p{
    font-size: 17px;
    width: 600px;
    margin-left: 24px;
    margin-top: 20px;
    color: #E6E6E6;
}

.hero-content button{
    position: relative;
    bottom: -250px;
    height: 60px;
    width: 190px;
    font-size: 20px;
}

.btn:hover{
    transform: translateY(-6px);
    background-color: rgb(17, 68, 221);
}

/* --------------- */

#Mbox {
    text-align: center;
    padding: 60px 80px;
}

#Mbox h1 {
    font-size: 52px;
    margin-bottom: 50px;
}

#container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.box {
    height: 420px;
    border: 1px solid #e5e7eb;
    
    border-radius: 12px;
    
}

.box img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 75%;
}

.box {
    text-align: left;
    
}

.role{
    margin-left: 25px;
}

.Subject{
    color: #6390f0;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 25px;
}

.box h2{
     margin-left: 25px;
     font-size: 30px;
     margin-top: 5px;
}
.role{
    color: #575757;
    margin-top: 4px;
}

/* --------------------------- */

#subscription{
    text-align: center;
    margin-top: 60px;
    padding: 30px;
}


#subscription h1{
    font-size: 55px;
}
#P{
    color: #575757;
    font-size: 15px;
    margin-top: 7px;
}

.box2{
     width: 320px;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 25px;
    box-sizing: border-box;
    text-align: left;
    transition: 0.3s;
    
}
#container2{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}

.box2 li{
    margin-top: 16px;
    margin-left: 15px;
    font-size: 18px;
}

.box2 p{
    color: #575757;
}

.btn1{
    position: relative;
    top: 20px;
    /* left: 35%; */
    height: 40px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid royalblue;
    font-weight: bold;
    cursor: pointer;
}
.line{
    width:100%;
    background-color: #a6a4a4;
    height: 2px;
}

.box2:hover{
    background-color: rgba(0, 0, 0, 0.848);
    color: white;
    transform: translateY(-7px);
}
.btn1:hover{
    color:white;
    background-color: royalblue;
}
/* ---------Footer---------- */
footer{
    width: 100%;
    height: 20vh;
    background-color: #121F2E;
   
    
}
#footer_section{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    
}
#link a{
    font-size: 20px;
}

#line2{
    width:100%;
    background-color: #717070;
    height: 1px;
}

footer p{
    color: whitesmoke;
    position: relative;
    top: 20px;
    margin-left: 35px;
}

